@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .before-content::before {
    content: "";
    position: absolute;
    background-color: white;
    opacity: 0.2;
    width: 30%;
    height: 1px;
    bottom: 50%;
    right: 95%;
  }

  .after-content::after {
    content: "";
    height: 3px;
    width: 10%;
    bottom: 0;
    left: 17.5%;
    background-color: white;
    position: absolute;
  }

  .after-content-destination::after {
    content: "";
    height: 3px;
    width: 16%;
    bottom: 0;
    left: 32.5%;
    background-color: white;
    position: absolute;
  }

  .after-content-crew::after {
    content: "";
    height: 3px;
    width: 10%;
    bottom: 0;
    left: 54%;
    background-color: white;
    position: absolute;
  }

  .after-content-technology::after {
    content: "";
    height: 3px;
    width: 16%;
    bottom: 0;
    left: 70%;
    background-color: white;
    position: absolute;
  }

  @media (max-width: 1024px) {
    .after-content::after {
      width: 10%;
      left: 20%;
    }

    .after-content-destination::after {
      width: 16%;
      left: 36%;
    }

    .after-content-crew::after {
      width: 10%;
      left: 60%;
    }

    .after-content-technology::after {
      width: 16%;
      left: 77%;
    }
  }

  @media (min-width: 1300px) {
    .before-content::before {
      width: 70%;
      max-width: 100%;
    }
  }
}
