@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animationMenu {
    animation: menu 0.5s ease-out forwards;
  }

  @keyframes menu {
    from {
      transform: scale(0.8);
    }
    to {
      transform: translateX(initial);
    }
  }

  .before-content::before {
    content: "";
    position: absolute;
    background-color: white;
    opacity: 0.2;
    width: 25%;
    height: 1px;
    bottom: 50%;
    right: 95%;
  }

  .after-content::after {
    content: "";
    height: 3px;
    width: 10%;
    bottom: 0;
    left: 18.5%;
    background-color: white;
    position: absolute;
  }

  .after-content-destination::after {
    content: "";
    height: 3px;
    width: 16%;
    bottom: 0;
    left: 34.5%;
    background-color: white;
    position: absolute;
  }

  .after-content-crew::after {
    content: "";
    height: 3px;
    width: 10%;
    bottom: 0;
    left: 54%;
    background-color: white;
    position: absolute;
  }

  .after-content-technology::after {
    content: "";
    height: 3px;
    width: 16%;
    bottom: 0;
    left: 70%;
    background-color: white;
    position: absolute;
  }

  @media (max-width: 1023px) {
    .after-content::after {
      width: 10%;
      left: 20.5%;
    }

    .after-content-destination::after {
      width: 16%;
      left: 38.5%;
    }

    .after-content-crew::after {
      width: 10%;
      left: 60%;
    }

    .after-content-technology::after {
      width: 16%;
      left: 77%;
    }
  }

  @media (min-width: 1300px) {
    .before-content::before {
      width: 60%;
      max-width: 100%;
    }
  }
}
